future
numpy<1.17,>=1.14.5
scipy
pyyaml
tensorflow>1.13.2,<2
multimodal-keras-wrapper
git+https://github.com/MarcBS/keras.git#egg=keras
git+https://github.com/lvapeab/coco-caption.git#egg=coco-caption
git+https://github.com/lvapeab/nmt-keras.git#egg=nmt_keras
